html, body, div, span, applet, object, iframe, h1, h2, h4, h5, h3, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

span {
    display: inline-block;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%
}

body {
    color: white;
}

.container {
    max-width: 1093px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media only screen and (min-width: 480px) {
    .container {
        padding: 0;
    }
}

@media only screen and (min-width: 1100px) {
    .container {
        padding: 0 3px;
    }
}

.date {
    color: #f0ff00;
    font-family: "Geometria";
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 50px;
    text-align: center;
}

@media only screen and (min-width: 480px) {
    .date {
        padding: 0px 82px;
    }
}

@media only screen and (min-width: 1100px) {
    .date {
        margin-bottom: 75px;
    }
}

.main-title {
    font-family: "AdelleCyrillic-Extrabold";
    font-size: 32px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 57px;
    text-align: center;
}

@media only screen and (min-width: 480px) {
    .main-title {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1100px) {
    .main-title {
        margin-bottom: 49px;
    }
}

.income {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Geometria";
    margin-bottom: 41px;
}

.income ul {
    padding-left: 19px;
}

@media only screen and (min-width: 480px) {
    .income ul {
        padding-left: 56px;
        padding-right: 15px;
    }
    .income {
        margin-bottom: 39px;
        font-size: 21px;
    }
}

.income p {
    font-family: "Geometria-Bold";
    font-weight: 700;
    padding-bottom: 29px;
    text-align: center;
}

@media only screen and (min-width: 1100px) {
    .income p {
        text-align: left;
    }
    .income ul {
        padding-left: 36px;
        padding-right: 0px;
    }
}

.income li, .course-list li {
    position: relative;
}

.income li:before, .course-list li:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 13px;
    background: url(../img/treugolnik.png) no-repeat;
    left: -21px;
    top: 5px;
}

@media only screen and (min-width: 480px) {
    .income li:before {
        left: -34px;
        top: 9px;
    }
}

header {
    background: url(../img/bg-mobile.jpg) no-repeat top center;
    background-size: cover;
    padding: 36px 0px 60px;
}

.tatyana {
    display: none;
}

@media only screen and (min-width: 1100px) {
    header {
        background: url(../img/bg.jpg) no-repeat top center;
        background-size: cover;
        padding: 40px 0px 0px;
    }
    .tatyana-box {
        padding-bottom: 65px;
    }
}

@media only screen and (min-width: 1280px) {
    header .container {
        position: relative;
    }
    .tatyana {
        width: 520px;
        height: 470px;
        overflow: hidden;
        display: block;
        position: absolute;
        bottom: 0px;
        right: -27px;
    }
}

.just-now {
    font-family: "Geometria";
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 25px;
    text-align: center;
}

@media only screen and (min-width: 480px) {
    .just-now {
        padding: 0 21px;
    }
}

@media only screen and (min-width: 1100px) {
    .just-now {
        text-align: left;
        margin-bottom: 28px;
        padding: 0;
    }
}

.about-practice {
    font-family: "AdelleCyrillic-SemiBold";
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.3);
    padding: 28px 0px 30px;
    text-align: center;
}

@media only screen and (min-width: 1100px) {
    .about-practice {
        max-width: 1093px;
        width: 100%;
        border-radius: 10px;
        margin: 0 auto;
        padding: 10px 0px 10px;
    }
}

.about-practice_inner {
    padding: 0 26px;
}

.regBtn {
    display: inline-block;
    padding: 18px 18px;
    box-shadow: 0 0 21px #e2206e;
    border-radius: 10px;
    background-color: #000000;
    background-image: linear-gradient(to top, #aa0c4b 0%, #f32678 100%);
    font-family: "Geometria";
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 480px) {
    .regBtn {
        padding: 12px 32px;
        font-size: 18px;
    }
}

.regBtn-top {
    text-align: center;
    padding-top: 38px;
    padding-bottom: 43px;
}

.regBtn-top p {
    font-family: "Geometria-Bold";
    color: #686868;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 36px;
}

@media only screen and (min-width: 1100px) {
    .regBtn-top {
        padding-top: 42px;
        padding-bottom: 66px;
    }
    .regBtn-top p {
        padding-bottom: 33px;
    }
}

.regBtn-top span {
    font-family: "Geometria";
    font-weight: 400;
    text-decoration: line-through;
    padding: 0 15px;
}

.QuestionToYourself {
    padding-top: 68px;
    padding-bottom: 27px;
    background: url(../img/bg2-mobile.jpg) no-repeat top center;
    background-size: cover;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .QuestionToYourself {
        background: url(../img/bg2.jpg) no-repeat top center;
        background-size: cover;
        padding-top: 42px;
    }
}

.Question-text {
    font-family: "Geometria";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.Question-text span {
    font-family: "Geometria-Heavy";
    font-weight: 800;
}

h2 {
    font-family: "AdelleCyrillic-Extrabold";
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
}

.QuestionToYourself h2 {
    margin-bottom: 22px;
}

@media only screen and (min-width: 480px) {
    .QuestionToYourself h2 {
        margin-bottom: 48px;
        padding: 0 10px;
    }
    h2 {
        font-size: 30px;
    }
}

.Question-money .Question-img {
    margin-bottom: 23px;
}

.Question-money {
    margin-bottom: 11px;
}

.Question-island p {
    padding-top: 49px;
}

.Question-island {
    margin-bottom: 32px;
}

.Question-home {
    margin-bottom: 40px;
}

.Question-home .Question-img {
    margin-bottom: 18px;
}

.Question-home .Question-text {
    padding: 0 3px;
}

@media only screen and (min-width: 768px) {
    .Question-money, .Question-island, .Question-home {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .Question-text {
        max-width: 341px;
        width: 100%;
        text-align: left;
    }
}

@media only screen and (min-width: 1100px) {
    .QuestionToYourself {
        padding-bottom: 19px;
    }
    .Question-home {
        margin-top: -120px;
        margin-left: -9px;
        margin-bottom: 0;
    }
    .Question-home br {
        display: none;
    }
    .Question-home .Question-text {
        max-width: 431px;
        width: 100%;
        margin-top: 122px;
        margin-left: auto;
    }
    .QuestionToYourself .container {
        max-width: 980px;
        width: 100%;
    }
    .Question-island .Question-img {
        order: 2;
        margin-left: auto;
        margin-top: -128px;
        margin-right: 31px;
    }
    .Question-island .Question-text {
        order: 1;
        max-width: 473px;
        width: 100%;
    }
    .Question-money .Question-text {
        margin-left: 97px;
        margin-top: 89px;
    }
    .Question-money br {
        display: none;
    }
    .Question-island p {
        padding-top: 18px;
        text-align: right;
    }
    .Question-island br {
        display: none;
    }
}

.course-title {
    color: black;
    text-align: center;
    padding-top: 49px;
    padding-bottom: 29px;
}

.course-title h2 {
    line-height: 31px;
}

.course-title p {
    font-family: "Geometria";
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.course-block {
    background: url(../img/course-mob.jpg) no-repeat top center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

.course-block p {
    text-align: center;
    font-family: "Geometria";
    font-size: 21px;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 25px;
}

.course-block_info {
    padding-top: 34px;
}

.course-list {
    padding: 0px 12px 0px 47px;
}

.course-list li {
    font-family: "Geometria";
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}

.course-list li:before {
    left: -33px;
}

.course-block-img {
    /*max-width: 443px;*/
    width: 100%;
    height: 297px;
    background: url(../img/img01-mobile.png) no-repeat top center;
    background-size: cover;
    margin: 0 auto;
}

.course-block-img__2 {
    background: url(../img/img02-mobile.png) no-repeat top center;
    background-size: cover;
}

.course-block-img__3 {
    background: url(../img/img03-mobile.png) no-repeat top center;
    background-size: cover;
}

@media only screen and (min-width: 480px) {
    .CourseProgram .container {
        max-width: 1170px;
        width: 100%;
        padding: 0 18px;
    }
}

@media only screen and (min-width: 500px) {
    .course-block-img {
        background: url(../img/img01.png) no-repeat top center;
        max-width: 531px;
        height: 456px;
        margin: unset;
        margin-left: auto;
    }
    .course-block-img__2 {
        background: url(../img/img02.png) no-repeat top center;
        max-width: 551px;
    }
    .course-block-img__3 {
        background: url(../img/img03.png) no-repeat top center;
        max-width: 518px;
    }
}

@media only screen and (min-width: 768px) {
    .course-block {
        background: url(../img/desctop-layer.jpg) no-repeat top center;
        background-size: cover;
    }
    .course-title {
        padding-top: 44px;
        padding-bottom: 42px;
    }
    .course-title p br {
        display: none;
    }
    .course-title p {
        margin-bottom: 36px;
    }
    .course-block_info {
        padding-top: 29px;
    }
}

@media only screen and (min-width: 1100px) {
    .course-list_first, .course-list_second, .course-list_third {
        max-width: 620px;
        width: 100%;
    }
    .course-block {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }
    .CourseProgram .container {
        padding: 0;
    }
    .course-block p {
        padding-left: 79px;
        padding-bottom: 46px;
    }
    .course-list {
        padding: 0px 0px 0px 59px;
    }
    .course-list_first {
        max-width: 686px;
        width: 100%;
    }
    .course-list_third {
        max-width: 650px;
    }
}
